<form action="/accounts" method="POST">
  <label>Name:</label>
  <input name="name" value="<%= @email_address.name %>" /><br/>
  <label>Email:</label>
  <input name="email_address" value="<%= @email_address.email_address %>" /><br/>
  <input type="submit" value="Create account" />
</form>
